#c {
  display: none;
}

#ruby {
  display: none;
}

#design {
  display: none;
}

.panel {
  display: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.container {
  /*the closet parent element, sized to full screen*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
